<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>one item</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}"/>
</head>
<body>
<a th:if="!idOrder"th:href="@{/index}"><button>Retour à la liste des items</button></a>
<a th:if="idOrder" th:href="@{/index/{idOrder}(idOrder=${idOrder})}"><button>Retour à la liste des items</button></a>
<h1>Item</h1>
<div class="card" th:if="${item != null}">
    <p>Id : </p> <p th:utext="${item.id}"></p>
    <p>Nom : </p> <p th:utext="${item.name}"></p>
    <p>Code : </p> <p th:utext="${item.regionCode}"></p>
    <p>Région : </p> <p th:utext="${item.region}"></p>
    <button id="modif">Modifier</button>
</div>
<br/>
<form class="card" style="display:none;" action="#" th:action="@{/patch/{id}(id=${item.id})}" th:object="${item}" th:method="patch">
    <h2>Modification</h2>
    <label for="name">Nom : </label><input id="name" type="text" placeholder="Nom de l'item" th:field="*{name}"/>
    <label for="regionCode">Code : </label> <input id="regionCode" list="regionCodeList" type="text" placeholder="Code régional" th:field="*{regionCode}"/>
    <datalist id="regionCodeList" >
        <option th:each="region : ${regions}" th:value="${region.code}" th:text="${region.nom}"></option>
    </datalist>
    <label for="region">Région : </label> <input id="region" type="text" placeholder="Région" th:field="*{region}"/>
    <input type="submit" value="Modifier"/>
</form>


</body>
<script  th:inline="javascript">
    let modifForm = document.querySelector('#modif');
    modifForm.addEventListener('click', ()=>{
        let formPatch = document.querySelector('form');
        formPatch.style.display = "grid";
        modifForm.style.display = "none";
    })
    let inputRegionCode = document.querySelector('input[list]');
    let inputRegion = document.querySelector('input#region');
    inputRegionCode.addEventListener('change', ()=>{
        let regions = [[${regions}]];
        let regionSelected = "";
        console.log(regions)
        for(let i = 0;i<regions.length;i++){
            if(regions[i].code == inputRegionCode.value){
                regionSelected = regions[i].nom;
                break;
            }
        }
        if(regionSelected){
            inputRegion.value = regionSelected;
        }
    })

</script>
</html>